<br><br>
<% if session[:userName].nil? %>
<%= link_to 'Login', {:controller => 'login', :action => 'login'},:class => "contentLink" %>
<% end %>
<h2>Posts</h2>
<p id="notice"><%= flash[:notice] %> </p>
<p id="error"><%= flash[:error] %></p>
<% if !session[:userName].nil? %>
    <%= button_to 'New Post', new_post_path %>
<% end %>
<br/>
<div class="scrollable" style=" width : 45%; ">
  <table style=" width : 100%; " >
   <% if @mostActivePosts.empty? and @postCreatedEarlier.empty? %>
        No Post to show
    <% end %>
    <% if !@mostActivePosts.empty? %>
        <tr style="width: 100%;background-color: #E9967A"><td style="height: 30px">Most Active Posts Since Last Week</td></tr>
        <tr><td>
          <table style=" width : 100%">
            <% @mostActivePosts.each do |post, votes| %>
                <tr>
                  <td style=" width : 80%; height: 40px" ><%= truncate(post.postText , length: 100, separator: ' ')%></td>
                  <td> Votes <%= votes %></td>
                  <td><%= link_to 'Show', post,:class => "contentLink"%></td>
                </tr>
            <% end %>
          </table>
        </td></tr>
    <% end %>

    <% if !@postCreatedEarlier.empty? %>
        <tr style="width: 100%;background-color: #E9967A"><td style="height: 30px">Created Earlier</td></tr>
        <tr><td>
          <table style=" width : 100%">
            <% @postCreatedEarlier.each do |post, votes| %>
                <tr>
                  <td style=" width : 80%; height: 40px"><%= truncate(post.postText , length: 100, separator: ' ')%></td>
                  <td> Votes <%= votes %></td>
                  <td><%= link_to 'Show', post, :class => "contentLink" %></td>
                </tr>
            <% end %>
          </table>
        </td></tr>
    <% end %>


  </table>
    </div >
